@{
    ViewData["Title"] = "Calculator Page";
}

<div class="text-center">
    <div class="my-table">
        <h2>Insurance Premium Calculator</h2>
        <table class="my-table">
            <tr>
                <th>Detail</th>
                <th>Input</th>
            </tr>
            <tr>
                <td>Age</td>
                <td><input type="text" id="age" name="age"></td>
            </tr>
            <tr>
                <td>Driving History</td>
                <td><input type="text" id="driving_history" name="driving_history"></td>
            </tr>
            <tr>
                <td>Annual Mileage</td>
                <td><input type="text" id="annual_mileage" name="annual_mileage"></td>
            </tr>
            <tr>
                <td>Vehicle Type</td>
                <td><input type="text" id="vehicle_type" name="vehicle_type"></td>
            </tr>
        </table>
    </div>
</div>
